# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

src/generated
/ED-3.0.txt
/unused_assets/
/Engulfing_Darkness_future_plans.txt
/run-data/
